body{
	background: none !important;
	overflow-x: hidden !important;
}

.landing .carousel-caption {
	color: black !important;
	padding: 2rem 3rem!important;
	/* border-radius: 20px; */
}

.landing .carousel-caption-margin{
	background-color: rgba(255, 255, 255, 0.87);
	margin-bottom: 30vh;
}

.landing .carousel-caption-main{
	margin-bottom: 10vh;
}

.landing .carousel-caption-main h4, .carousel-caption-main h5 {
	background-color: white;
	padding: 0.3rem 0;
}

.landing .logo-hero {
	margin-bottom: 2rem;
}


.landing .carousel-caption h1{
	background-color: rgb(0, 0, 0);
	color: white;
	padding: 1rem;
}

.landing .image-0{
	/* background: url(https://i.picsum.photos/id/237/1920/1080.jpg); */
	height: 90vh;
	width: 100vw;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.landing .blogs-recent{
	height: 100vh;
}

@media only screen and (max-width:900px){
	.landing .carousel-caption{
		margin-bottom: 10vh;
		padding: 1rem !important;
	}
	.landing h1{
		font-size: 1.7rem !important;
	}
	.landing .carousel-caption-margin{
		margin-bottom: 20vh;
	}
	.social-bar-fixed{
       right: 0rem !important;
    }
    .social-bar-fixed .socialItem {
        width: 40px;
        height: 40px;
    }
}

@media only screen and (min-width:900px) {
	.landing .logo-hero {
		width: 20vw;
	}
}

.social-bar-fixed {
    position: fixed;
    bottom: 0;
    right: 1rem;
    z-index: 20;
}