.analytics {
	padding: 0 !important;
	box-shadow: 0 0px 20px -5px black;
	background-color: rgba(255, 255, 255, 0.76);
}

.analytics .heading-row {
	background-color: rgb(62, 0, 133);
	color: rgb(255, 255, 255);
	margin: 0;
	padding: 1rem;
}

.analytics .heading-row h1 {
	margin: 0 !important;
}

.analytics-wrapper{
	padding: 15vh 0;
}

  .analytics-wrapper::after {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: url(../images/art-3.png);
	filter: blur(7px);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 15%;
	z-index: -1;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-name: fadeIn;
	animation-fill-mode: both;
  }
  
  .analytics .row {
	width: 100%;
  }
  
  .analytics .details {
	  padding: 2rem 3rem;
  }

  
  /* .analytics .details::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../images/art-2.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: -1;
  } */

  .analytics .team-image {
	  width: 100%;
	  background-color: rgb(62, 0, 133);
	  padding: 0.5rem;
	  box-shadow: 0 0px 20px -5px black;
  }
  
  .analytics .form-col{
	  padding: 2rem 3rem;
  }

  .analytics ul li{
	  padding: 0.3rem 0;
  }
  
  @media only screen and (max-width: 800px) {
	  .analytics::before{
		  display: none;
	  }
	  .analytics{
		  padding-bottom: 0;
	  }
  
  }
  