.collab {
    width: 100vw;
}

.collab .banner {
  color: rgb(0, 0, 0);
  font-weight: 700;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  padding: 0 !important;
  background: url(https://res.cloudinary.com/dog2bkgwo/image/upload/v1588420786/Backgrounds/top-view-photo-of-people-near-wooden-table-3183150_a2vgty_dhdlgy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 40%;
}

.collab .banner h1 {
  background-color: rgba(255, 255, 255, 0.911);
  padding: 1rem;
}

.collab .container {
    padding: 0 6rem;
}

.collab img {
    height: 20rem;
}

@media only screen and (max-width:900px) {
  .events .banner h1 {
    background-color: rgba(255, 255, 255, 0.911);
    padding: 0rem;
    font-weight: normal;
  }
  .collab img {
    width: 80vw;
    height: auto;
}
.collab .main {
    padding: 0 3rem;
  }
}

@media only screen and (min-width:900px) {
  .collab .main {
    padding: 0 10rem;
  }
}

