.economics {
	padding: 0 !important;
	box-shadow: 0 0px 20px -5px black;
	background-color: rgba(255, 255, 255, 0.76);
}

.economics .heading-row {
	background-color: rgb(0, 99, 49);
	color: rgb(255, 255, 255);
	margin: 0;
	padding: 1rem;
}

.economics .heading-row h1 {
	margin: 0 !important;
}

.economics-wrapper{
	padding: 15vh 0;
}

  .economics-wrapper::after {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: url(https://res.cloudinary.com/dog2bkgwo/image/upload/v1588419803/Backgrounds/art-2_wqrkpw.jpg);
	filter: blur(7px);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: -1;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-name: fadeIn;
	animation-fill-mode: both;
  }
  
  .economics .row {
	width: 100%;
  }
  
  .economics .details {
	  padding: 2rem 3rem;
  }
  
  /* .economics .details::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../images/art-2.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: -1;
  } */

  .economics .team-image {
	  width: 100%;
	  background-color: rgb(0, 99, 49);
	  padding: 0.5rem;
	  box-shadow: 0 0px 20px -5px black;
  }
  
  .economics .form-col{
	  padding: 2rem 3rem;
  }

  .economics ul li{
	  padding: 0.3rem 0;
  }
  
  @media only screen and (max-width: 800px) {
	  .economics::before{
		  display: none;
	  }
	  .economics{
		  padding-bottom: 0;
	  }
  
  }
  