.events {
    width: 100vw;
}

.events .banner {
  color: rgb(0, 0, 0);
  font-weight: 700;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  padding: 0 !important;
  background: url(https://res.cloudinary.com/dog2bkgwo/image/upload/v1588412030/Backgrounds/low-angle-photography-of-pile-of-stainless-steel-chairs-with-691485_osongl.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 40%;
}

.events .banner h1 {
  background-color: rgba(255, 179, 117, 0.911);
  padding: 1rem;
  font-weight: 600;
}

.events .container {
    padding: 0 6rem;
}

.events p {
    color: rgb(0, 0, 0);
}

.events * {
    box-sizing: border-box;
  }
  
  /* Set a background color */
  /* body {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
  } */
  
  /* The actual timeline (the vertical ruler) */
  .events  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .events  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(0, 0, 0);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .events  .time-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .events  .time-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

  .events .time-container h2 {
    font-weight: 800;
  }
  
  /* Place the container to the left */
  .events .left {
    left: -0.3%;
  }
  
  /* Place the container to the right */
  .events  .right {
    left: 50.3%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .events  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #E2F0CB;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #E2F0CB;
  }
  
  /* Add arrows to the right container (pointing left) */
  .events  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #E2F0CB;
    border-width: 10px 10px 10px 0;
    border-color: transparent #E2F0CB transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .events  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .events  .content {
    padding: 20px 30px;
    background-color: #E2F0CB;
    position: relative;
    /* border-radius: 6px; */
    text-align: left;
    z-index: 99;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .events .content li {
      margin: 1rem 0;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 900px) {
  /* Place the timelime to the left */
  .events  .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
  .events .time-container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
  .events .time-container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
  .events .left::after, .events .right::after {
      left: 20px;
    }

    .events .right::after {
        left: 17px;
    }
  
  /* Make all right containers behave like the left ones */
  .events .right {
      left: 0%;
    }
  }