.team{
	color: white;
	margin-top: 10vh;
}

.team .hero {
	margin-bottom: 5rem;
	padding: 2rem;
	background-color: rgba(255, 255, 255, 0.705);
	color: black;
}

.team .sections {
	margin-bottom: 5rem;
	padding: 2rem;
	background-color: rgba(0, 0, 0, 0.116);
}



.odd, .even {
	padding: 1rem;
	display: flex;
	justify-content: center;
	color: black;
}

.particles {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background-color: #232741;
}

.particle-cover {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background-color: #000000;
}

.no-image {
	width: 250px;
	height: 250px;
}

@media only screen and (max-width: 900px) {
	.team .sections {
		background-color: rgba(0, 0, 0, 0.226);
	}
	.team .heading-1 {
		font-size: 2.2rem;
	}
}