.navbar a {
    color: rgb(255, 255, 255) !important;
}

.navbar {
    background-color: rgb(0, 0, 0) !important;
    padding: 1rem !important;
    position: relative;
    z-index: 9999;
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 500 !important;
}

.navbar-brand{
    min-height: 0 !important;
}

.navbar .brand-logo{
    width: 40px;
}

.dropdown-item{
    color: black !important;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    transition: all 0.3s ease-in-out;
}

.nav-item:hover {
    background-color: rgb(255, 68, 0);
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.navbar .show li{
    margin: 1vh 0;
}

.navbar .collapsing li{
    margin: 1vh 0;
}

a:hover {
    text-decoration: none;
    color: rgb(243, 243, 243);
}

@media only screen and (min-width: 900px) {
    .navbar-collapse{
        display: flex !important;
        align-items: center !important;
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 900px) {
    .navbar{
        padding: 0 !important;
    } 
    .navbar .dropdown-menu{
        background-color: rgba(0, 0, 0, 0) !important;
        border: none;
        margin: 0 10px;
    }
    .navbar .dropdown-item{
        background-color: white !important;
        margin: 5px 0;
        border-radius: 10px;
    }
    .navbar .nav-item{
        transition: none;
        border-radius: 50px;
        padding: 0.5rem;
    }
    .navbar .nav-item:hover{
        transition: none;
    }
    .navbar .navbar-brand {
        font-weight: 800;
        font-size: 2rem;
        padding-left: 1rem;
    }
}